name: Terraform Up

on:
  push:
    branches: [ "main" ]

  workflow_dispatch:

env:
  AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
  AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}

jobs:
  terraform:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Terraform init
        run: terraform init
        working-directory: ./terraform
      
      - name: Terraform plan
        run: terraform plan -input=false
        working-directory: ./terraform
      
      - name: Terraform apply
        run: terraform apply -auto-approve -input=false
        working-directory: ./terraform
      
      - name: Terraform destroy
        run: terraform destroy -auto-approve -input=false
        working-directory: ./terraform
